/* =============
    Index
============= */

#indexContainer{
    max-width: 100%;

    @include lg{
        display: grid;
        grid-template-columns: auto 1200px auto;
        grid-template-areas: ". indexContent .";
    }

    #indexContent{

        @include md{
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas: "indexLeftContainer indexRightContainer";
        }

        @include lg{
            grid-area: indexContent;
        }

        .indexLeftContainer {
            padding: 24px 16px;

            @include md{
                grid-area: indexLeftContainer;
            }

            .name {
                font-size: 50px;
                text-align: center;
                margin-bottom: 24px;
            }
            .title {
                font-weight: 600;
                font-size: 35px;
                color: var(--purple)
            }
            p {
                font-size: 13px;
                line-height: 1;
            }
            h3 {
                padding-top: 20px;
            }
        }
        .indexRightContainer{

            @include md{
                grid-area: indexRightContainer;
            }

            img {
                width: 100%;
            }
        }

    }
}

