/* =============
    Navigation
============= */

header {
    width: 100%;
    background-color: var(--white);

    #header-container {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "welcome burger"
        "nav nav";

        @include lg{
            grid-template-columns: 30% auto;
            grid-template-areas: 
            "welcome nav";
        }

        #welcome-container {
            grid-area: welcome;
            .navigationWelcome {
                font-family: "Pacifico", cursive;
                font-weight: 400;
                font-optical-sizing: auto;
            }
        }

        #burger-container {
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg {
                display: none;
            }

            button {
                background-color: transparent;
                border: none;
                color: var(--black);
                font-size: 18px;
            }
        }

        #main-nav {
            grid-area: nav;
        }
    }
}




// .navigationWelcome {
//     font-family: "Pacifico", cursive;
//     font-weight: 400;
//     font-optical-sizing: auto;
// }

// .navigationBar {

//     display: grid;
//     grid-template-columns: 50% auto;
//     grid-template-areas: 
//     "navigationRightContainer burger-container"
//     "navigationLeftContainer navigationLeftContainer";

//     @include lg{
//         grid-template-columns: 30% auto;
//         grid-template-areas: 
//         "navigationRightContainer navigationLeftContainer"
//     }

//     .navigationRightContainer {
//         grid-area: navigationRightContainer;
//     }

//     .navigationLeftContainer {
//         grid-area: navigationLeftContainer;
//         display: none;

//         @include lg{
//             display: block;
//         }

//         ul{

//             @include lg{
//                 display: flex;
//                 justify-content: flex-end;
//             }

//             li{
//                 list-style-type: none;
                
//                 width: 100%;
               

//                 @include md{
//                     margin-left: 24px;
//                 }

//                 a:link, a:visited{
//                     display: flex;
//                     justify-content: flex-end;
//                     align-items: center;
//                     text-decoration: none;
//                     color: var(--purple);
//                     padding: 8px 0;
                   

//                     img{
//                         height: 20px;
//                         margin-right: 8px;
//                     }
//                 }
//             }
//          }
//     }

//     .burger-container{
//         grid-area: burger-container;
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;

//         @include lg{
//             display: none;
//         }
//         button{
//             border: none;
//             background-color: transparent;
//             div{
//                 background-color: black;
//                 height: 3px;
//                 width: 40px;
//                 margin-bottom: 8px;
//             }
//         }
        
//     }
// }