/* =============
    Navigation
============= */

.hide-menu {
    display: none;

    @include lg {
        display: inline-block;
    }
}
header {
    width: 100%;
    background-color: var(--white);

    #header-container {
        display: grid;
        grid-template-columns: 50% auto;
        grid-template-areas: 
        "welcome burger"
        "nav nav";

        @include lg{
            grid-template-columns: 30% auto;
            grid-template-areas: 
            "welcome nav";
        }

        #welcome-container {
            grid-area: welcome;
            .navigationWelcome {
                font-family: "Pacifico", cursive;
                font-weight: 400;
                font-optical-sizing: auto;
            }
        }

        #burger-container {
            grid-area: burger;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            @include lg {
                display: none;
            }

            button {
                background-color: transparent;
                border: none;
                color: var(--black);
                font-size: 18px;
            }
        }

        #main-nav {
            grid-area: nav;
            background-color: var(--purple);
            color: var(--black);

            @include lg {
                background-color: var(--white);
                display: inline-block;
            }

            ul {

                @include lg {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }

                li {
                    list-style-type: none;
                    text-align: right;

                    a:link, a:visited{
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        text-decoration: none;
                        color: var(--black);
                        padding: 8px 0;

                        @include lg {
                            color: var(--purple);
                        }
                        div {
                            padding: 0 3px;
                        }
                    }
                }
            }
        }
    }
}