/* =============
    Typography
============= */

h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    background-color: var(--grey);
}

.contactContainer {
    font-size: 30px;
    padding: 15px 0;
    width: 100%;
    display: flex;
    background-color: var(--white);
    color: var(--purple);
    height: 50px;
    justify-content: center;

    ul {
        list-style-type: none;

        li {
            display: inline;
            padding: 3px;

            i {
                color: var(--purple);
            }
        }
    }
}