/* =============
    Variables
============= */

// Define the breakpoints
//mobile
$screen-sm-min: 375px;

//tablet
$screen-md-min: 768px;

//desktop
$screen-lg-min: 1200px;


// Colors vars
:root {
  --black: #000000;
  --white: #ffffff;
  --pink: #f72585;
  --purple: #7209b7;
  --darkBlue: #3a0ca3;
  --blue: #4361ee;
  --aqua: #4cc9f0;
  --green: #2dd8bb;
  --yellow: #dbbf0e;
}

